<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbarr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        
      <!--       <li class="nav-item active">
                <a class="nav-link" routerLink="/product">product </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/task">task </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/add-camping">Add camping </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/camping">List camping </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" routerLink="/add-event">Add event </a>
            </li>
             <li class="nav-item active">
                <a class="nav-link" routerLink="/event">Event </a>
            </li>
             -->
             <li class="nav-item active">
                <a class="nav-link" routerLink="/logement">Logement </a>
            </li>
            
       

        </ul>
        <form class="form-inline my-2 my-lg-0">

          
        </form>
    </div>
</nav>