<!-- Lien pour rediriger vers le composant d'ajout -->
<a routerLink="/add-logement" class="btn btn-primary">Ajouter un Logement</a>
<br><br>
<!-- Liste des logements -->
<button (click)="chargerLogements()" class="btn btn-success">Charger les logements</button>

<div *ngFor="let logement of logements">
  <p><strong>Référence:</strong> {{ logement.reference }}</p>
  <p><strong>Adresse:</strong> {{ logement.adresse }}</p>
  <p><strong>Delegation:</strong> {{ logement.delegation }}</p>
  <p><strong>Gouvernorat:</strong> {{ logement.gouvernorat }}</p>
  <p><strong>Type:</strong> {{ logement.type }}</p>
  <p><strong>Description:</strong> {{ logement.description }}</p>
  <p><strong>Prix:</strong> {{ logement.prix }}</p>
  <button (click)="supprimerLogement(logement.reference)" class="btn btn-danger">Supprimer</button>
  <hr />
</div>

