<p>login works!</p>


<label> login</label>
<input type="text" [formControl]="login" placeholder="enter login">

<label> password</label>
<input type="text" [formControl]="pwd" placeholder="enter password">


<br>
<h1> Form login </h1>


<form [formGroup]="formLogin">
    <label> login</label>
    <input type="text" formControlName="login" placeholder="enter login" class="form-control">

    <div class="alert alert-danger" *ngIf="formLogin.controls['login'].invalid  && formLogin.controls['login'].touched">
        <p *ngIf="formLogin.controls['login'].hasError('required')">login doit etre obligatoire</p>
        <p *ngIf="formLogin.controls['login'].hasError('minlength')">login minlength 6</p>
    </div>

    <label> password</label>
    <input type="text" formControlName="pwd" placeholder="enter password" class="form-control">

    <label> email</label>
    <input type="text" formControlName="email" placeholder="enter email" class="form-control">

    <label> phone</label>
    <input type="text" formControlName="phone" placeholder="enter phone" class="form-control">

    <label> adresse</label>
    <input type="text" formControlName="adress" placeholder="enter adress" class="form-control">

    <input type="submit" value="save" [disabled]="formLogin.invalid" (click)="save()" class="btn btn-info">

</form>