<div class="container mt-4">
    <div  *ngFor="let p of filteredProducts" class="card mb-3"  style="max-width: 540px;">
      
        <div class="row g-0">
        <div class="col-md-4">
          <img src="assets/project-placeholder.jpg" class="img-fluid rounded-start" alt="Project Image">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Title: {{ p.title }}</h5>
            <p class="card-text">Description: {{ p.title }}
            <button class="btn btn-primary" >Add Task</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
