<div class="row">
    <div class="col-md-4" *ngFor="let p of filteredCampings">
        <div 
            class="card" 
            style="width: 18rem;" 
            [ngStyle]="{'background-color': p.etat === true ? 'green' : 'red'}"
        >
            <div class="card-body">
                <h5 class="card-title">Description: {{ p.description }}</h5>
                <p class="card-text">Nb Place: {{ p.nbPlace }}</p>
                <p class="card-text">Etat: {{ p.etat }}</p>
             
                <button class="btn btn-primary" [routerLink]="">Detail</button>
                <br>
                <button class="btn btn-danger" (click)="deleteCamping(p.id)">Delete</button>
                <button class="btn btn-success" [routerLink]="['/updatee', p.id]">Update</button>
            </div>
        </div>
    </div>   
</div>    